.contacts-wrapper {
  position: relative;

  &__loader {
    margin: 0;
    position: absolute;
    top: 5px;

    color: #0056ff;
  }

  &__contacts-list {
    position: absolute;
    top: 30px;

    list-style: none;
    padding: 0;
    margin: 0;
  }
}
